body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #1e1e5d;
    color: white;
}

header {
    display: flex;
/* border: 0.5px solid red; */
    width: 95%;
    margin: auto;
    height: 20vh;
    align-items: center
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
/* border: 0.5px solid red; */
    flex: 1;
    justify-content: space-around;
}

nav {
    flex: 8;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #e5eaf5;
}

main {
    width: 95%;
/* border: 0.5px solid red; */
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ff8692;
}

.paragraph {
    width: 95%;
/* border: 0.5px solid red; */
    padding: 10px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: #e5eaf5;
    margin-top: 5px;
}

footer {
    width: 95%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
/* border: 0.5px solid red; */
    color: #e5eaf5;
}

@media screen and (max-width: 1024px) {

